@import '../../utilities/variables.scss';

$social-media-dimension: 50px;

.footer-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #201D1D;
  justify-content: space-between;

  //bottom: 0;
  padding: 30px;
  z-index: 10;

  .footer__group-container {
    margin: 20px;
    //text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .social-media-icon {
    height: $social-media-dimension;
    width: $social-media-dimension;
    margin: 15px;
  }

  .footer__item {
    @include small-paragraph-secondary-light;
  }

  .footer__header {
    @include subheader-light;
  }
}
