@import '../../utilities/variables.scss';

.product-filter-container {
  display: flex;
  flex-direction: column;
  position: fixed;

  height: 100%;
  width: $product-filter-width;
  margin-right: 30px;
  margin-left: 30px;
  top: 0;
  bottom: 0;

  overflow: hidden;

  z-index: 11;

  .inner-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 55px 20px 30px 0px;
  }
}



.bottom {
    position: absolute;
}


.category-group {
  align-self: flex-start;
  font-weight: bold;
}

.category {
  align-self: flex-start;
  margin: 4px;
  color: $secondary-font-color-dark;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .product-filter-container {
    display: none;
  }
}

.in-flow {
  display: flex;
  position: relative;
  align-self: center;
  overflow-y: hidden;
}
