@import '../../utilities/variables.scss';

.home-container {
  display: flex;
  flex-direction: column;

  .header {
    @include header;
    text-align: left;
    margin-left: 50px;
  }

  .top-row {
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
  }
}
