@import '../../utilities/variables.scss';

.home-container {
  display: flex;
  flex-direction: column;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;

    .shipping__header {
      width: 500px;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 40px;
    }
  }

  .story-section {
    flex-direction: row;
    justify-content: center;

    img {
      height: 500px;

    }
  }

  .header {
    @include header;
    text-align: left;
    margin-left: 50px;
  }

  .top-row {
    display: flex;
    flex-direction: row;
    padding: 0 30px 0 30px;
  }
}
