@import '../../utilities/variables.scss';

$jumbotron-height: 100vh;
$jumbotron-width: 100%;
$logo-font-size: 8rem;
$mobile-logo-font-size: 6.7rem;


%slide_parent {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-size: cover;
  background-position: center;
  min-height: $jumbotron-height;
  max-height: 100%;
  width: $jumbotron-width;
}

.jumbotron__text-container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  text-align: center;
  color: white;
  @include header;
  width: 500px;
}

.slide1 {
  @extend %slide_parent;
  background-image: url("./assets/pictures/jumbotron_bg1.png");
}

.slide2 {
  @extend %slide_parent;
  background-image: url("./assets/pictures/jumbotron_bg2.jpg");
}

.slide3 {
  @extend %slide_parent;
  background-image: url("./assets/pictures/jumbotron_bg3.jpg");
}
