@import '../../utilities/variables.scss';

$nav-height: 100px;

.navbar {
  display: block;
  position: relative;
  z-index: 100;
}

.navbar__top {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $nav-height;

  .nav-item {
    font-size: 2rem;
    margin: 0 50px 0 50px;
  }

  a {
    color: $primary-font-color-dark;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: $header-font;
  }

}

.expanded {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: $secondary-color;
  padding: 100px 0  0 30px;

  .expanded__item {
    display: block;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: $header-font;
    margin-top: 30px;
  }
}

@media screen and (max-width: 870px) {
  .navbar {
    .hamburger-menu-icon {
      position: absolute;
      left: 0;
      margin-right: auto;
      margin-left: 20px;
      display: block;
    }
    .nav-item {
      display: none;
    }
  }
}
