$image-dimension: 330px;

@mixin itemText {
      font-family: $primary-font;
      font-size: $small-paragraph-font-size;
      font-weight: bold;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: $image-dimension;

  margin: 50px;

  .item__image {
    height: $image-dimension;
    width: $image-dimension;
  }

  .item__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 20px 10px 0 10px;

    .item__title {
      @include itemText;
      text-align: left;
      margin-top: 0;
    }

    .cart-icon {
      height: 40px;
      width: auto;
    }
  }
  .item__row2 {
    text-align: left;
    padding: 0 10px 0 10px;

    .item__price {
      @include itemText;
      color: $secondary-font-color-dark;
    }
  }
}
