/*Top level scss file. Import all other files into here*/

@import "app.scss";

@import "./screens/Home/home.scss";
@import "./components/CustomNavbar/custom-navbar.scss";
@import "./components/Jumbotron/jumbotron.scss";
@import "./components/Item/item.scss";
@import "./components/Footer/footer.scss";
